In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

a = "Vansh"
print(a, type(a))
a = [78,53,33.23,"sudh", True]
print(a, type(a))
a = 76.98
print(a, type(a))
a = (45,56)
print(a, type(a))

Vansh <class 'str'>
[78, 53, 33.23, 'sudh', True] <class 'list'>
76.98 <class 'float'>
(45, 56) <class 'tuple'>

In [2]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = ' '
print(type(var1))

var2 = '[ DS , ML , Python]'
print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# / is use for division(float)
print(8/4)

# % is use for finding remmainder
print(11%2)

# // is use for division(int)
print(8//2)

# ** is use for mautiplication of a number by itself
print(2**3)

2.0
1
4
8

In [4]:
# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

l = [2,3,4,1,6,"vansh", "pwskills",44.34, True, False]
for i in l:
    print(i)

2
3
4
1
6
vansh
pwskills
44.34
True
False

In [5]:
# Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

a= 24
n = 8
while(n<a):
    if(a%n == 0):
        print("number is purely divisible")
    else:
        print("number is not purely divisible")
    print(n, "is devided by", a/n, "times")
    break

number is purely divisible
8 is devided by 3.0 times

In [6]:
# Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print(len(a))
for i in a:
    if i%3==0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

25
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [7]:
# What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

str1 = "vansh"
list1 = [2,3,4,1,6,"vansh", "pwskills",44.34, True, False]
print(str1)
print(list1)

str1[1] = "e"
print(str1)

list1[1] = "Ram"
print(list1)

vansh
[2, 3, 4, 1, 6, 'vansh', 'pwskills', 44.34, True, False]

TypeError: 'str' object does not support item assignment